#name/*id為name的東西*/{
    margin: 0 25% 0 25%;/*使區塊置中*/
    width: 50%;/*使區塊置中*/
    font-size: 64px;/*字體大小*/
    background-color: #DDDDDD;/*背景顏色*/
    border-radius: 20px;/*邊框圓角*/
    box-shadow: 20px 30px 20px black;/*整個div的陰影*/
}

h1.name/*class為name的h1*/{
    text-align: center;/*文字置中*/
}

img/*所有img*/{
    margin: 0 25% 0 25%;/*使圖片置中*/
    width: 50%;/*使圖片置中*/
}

#description/*id為description的東西*/{
    margin : 200px 20% 0 20%;/*使區塊置中*/
    width: 60%;/*使區塊置中*/
}

ul.description/*class為description的ul*/{
    font-size: 36px;/*字體大小*/
}

#other/*id為other的東西*/{
    margin : 20px 20% 20px 20%;/*使區塊置中*/
    width: 60%;/*使區塊置中*/
    height: 700px;/*區塊高度*/
}

iframe/*不特別指定class或id的iframe*/{
    width: 100%;/*物件寬度*/
    height: inherit;/*物件高度*/
}

h1.other/*class是other的h1*/{
    text-align: center;/*文字置中*/
    font-size: 48px;/*字體大小*/
}

p/*不特別指定class或id的p*/{
    line-height: 48px;/*行高*/
    font-size: 24px;/*字體大小*/
    margin: 30px 10% 30px 10%;/*使區塊置中*/
    font-family: 標楷體;/*改變字體*/
    font-weight: bold;/*粗體*/
    text-align: center;/*文字置中*/
}